<!-- IMPORT MODULE DETAIL -->
<!-- 

	Module : 	ExamsList
	
	Links : 	ExamsEdit
					/examses/{id}
.				
	
	Nesteds : 	
				
-->
<!-- /IMPORT MODULE DETAIL -->
<div ng-controller="ExamsListController">
	
	<h1>ExamsList</h1>
	
	<!-- SEARCH FORM -->
	<div class="well">
	    <form name="form_search" class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
					<label for="averageresult">Averageresult</label>
				</div>
				<div class="col-sm-9 form-group" >
					<input type="number" ng-model="search.averageresult" class="form-control" name="averageresult" id="averageresult" >
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="class">Class</label>
				</div>
				<div class="col-sm-9 form-group" >
					<input type="number" ng-model="search.class" class="form-control" name="class" id="class" >
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="date">Date</label>
				</div>
				<div class="col-sm-9 form-group" >
					<input type="date" ng-model="search.date" class="form-control" name="date" id="date" >
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="done">Done</label>
				</div>
				<div class="col-sm-9 form-group" >
					<input type="checkbox" ng-model="search.done" class="form-control" name="done" id="done" >
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="examname">Examname</label>
				</div>
				<div class="col-sm-9 form-group" >
					<input type="text" ng-model="search.examname" class="form-control" name="examname" id="examname" >
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="invigilator1">Invigilator1</label>
				</div>
				<div class="col-sm-9 form-group" >
					<input type="text" ng-model="search.invigilator1" class="form-control" name="invigilator1" id="invigilator1" >
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="invigilator2">Invigilator2</label>
				</div>
				<div class="col-sm-9 form-group" >
					<input type="text" ng-model="search.invigilator2" class="form-control" name="invigilator2" id="invigilator2" >
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="maxmarks">Maxmarks</label>
				</div>
				<div class="col-sm-9 form-group" >
					<input type="number" ng-model="search.maxmarks" class="form-control" name="maxmarks" id="maxmarks" >
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="roomno">Roomno</label>
				</div>
				<div class="col-sm-9 form-group" >
					<input type="text" ng-model="search.roomno" class="form-control" name="roomno" id="roomno" >
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="session">Session</label>
				</div>
				<div class="col-sm-9 form-group" >
					<input type="text" ng-model="search.session" class="form-control" name="session" id="session" >
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="subjectname">Subjectname</label>
				</div>
				<div class="col-sm-9 form-group" >
					<input type="text" ng-model="search.subjectname" class="form-control" name="subjectname" id="subjectname" >
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="timing">Timing</label>
				</div>
				<div class="col-sm-9 form-group" >
					<input type="text" ng-model="search.timing" class="form-control" name="timing" id="timing" >
				</div>
			</div>
		</form>
	</div>
	
	<!-- TABLE -->
	<table class="table table-condensed table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>_id</th>
				<th>averageresult</th>
				<th>class</th>
				<th>date</th>
				<th>done</th>
				<th>examname</th>
				<th>invigilator1</th>
				<th>invigilator2</th>
				<th>maxmarks</th>
				<th>roomno</th>
				<th>session</th>
				<th>subjectname</th>
				<th>timing</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in list | filter: {  averageresult:search.averageresult,  class:search.class,  date:dateFilter(search.date),  done:search.done,  examname:search.examname,  invigilator1:search.invigilator1,  invigilator2:search.invigilator2,  maxmarks:search.maxmarks,  roomno:search.roomno,  session:search.session,  subjectname:search.subjectname,  timing:search.timing,  }">
				<td ng-bind="item._id" ng-link="/examses/{{item._id}}"></td>
				<td ng-bind="item.averageresult"></td>
				<td ng-bind="item.class"></td>
				<td ng-bind="item.date | date"></td>
				<td ng-bind="item.done"></td>
				<td ng-bind="item.examname"></td>
				<td ng-bind="item.invigilator1"></td>
				<td ng-bind="item.invigilator2"></td>
				<td ng-bind="item.maxmarks"></td>
				<td ng-bind="item.roomno"></td>
				<td ng-bind="item.session"></td>
				<td ng-bind="item.subjectname"></td>
				<td ng-bind="item.timing"></td>
			</tr>
		</tbody>
	</table>
	
	<div class="mb-20" ng-if="list.$resolved && (list | filter :{   averageresult:search.averageresult,  class:search.class,  date:dateFilter(search.date),  done:search.done,  examname:search.examname,  invigilator1:search.invigilator1,  invigilator2:search.invigilator2,  maxmarks:search.maxmarks,  roomno:search.roomno,  session:search.session,  subjectname:search.subjectname,  timing:search.timing,  }).length == 0">
        <b>No result found</b>
    </div>

	<!-- BUTTON -->
	<button class="btn btn-primary" ng-link="/examses/new">New</button>
	
</div>